{% extends "pixar_studios/base.html" %}
{% block body_block %}
    {% load static %}
    <div class="body">
        <div style="background-image: url('{% static "images/image-asset (6).jpeg" %}')" class="disneyplus-banner mb-5">
            <div class="banner-text banner-img d-flex">
                <h2>{{ title }}</h2>
            </div>
        </div>

        <div class="body-main container mt-5 pt-5">
            <form action="" class="form text-center" method="POST">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <label class="input-label" for="user-name">User Name</label>
                    <input class="form-control text-center text-field" type="text" name="user-name" id="user-name"
                           placeholder="username" required>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <label class="input-label" for="password">Password</label>
                    <input class="form-control text-center text-field" type="password" name="password" id="password"
                           placeholder="Password" required>
                </div>
                {% csrf_token %}
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <input class="btn btn-outline-primary mt-5" type="submit" name="submit" value="Login">
                </div>

            </form>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <a href="{% url "pixar_studios:registration" %}">Registration</a>
                <a href="">Forgot Password</a>
            </div>

        </div>
    </div>
{% endblock %}